a {
    color: #266;
    text-decoration: none;
}




a:hover {
    color: #4fb286;
}

body {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 1em;
}
    
footer{
    background-color: #22333b;
    color: aliceblue;
    font-size: .9em;
    margin-top: 4em;
    padding: 1.11em 0;
}






















.button {
    background-color: #2f8c62;
    color: #fff;
    border: none;
    border-radius: .25em;
    padding: .5em .75em;
}

.button:hover{
    background-color: #4fb286;
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #22333b;
    padding: .5em;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar-nav li {
    padding: .5em;
    margin: 0 0.5em;
}

.contact-form label, 
.contact-form input, 
.contact-form select, 
.contact-form textarea {
    display: block;
    width: 100%; 
}

.contact-form label {
    margin-bottom: 0.5em;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    border-bottom: 1px solid #22333b;
    padding: 0.5em;
    border-radius: 8px;
}

.contact-form :invalid{
    border-color: #ff0000;
    color: #ff0000;
}

.contact-form :invalid::placeholder{
    color: #ff0000;
}

.contact-form .button{
    cursor: pointer;
    padding: .8em;
    width: 100%;
    font-size: 1.2em;
}

.contact-form button.clear{
    background-color: #ff0000;
}

.contact-form button.clear:hover{
    background-color: #cc0000;
}

.blog-post header{
    text-align: center;
    margin-top: 4em;
}

.blog-post header h5{
    text-transform: uppercase;
}

.blog-post header h1{
    text-transform: capitalize;
}

.blog-post .image{
    margin-top: 2em;
    margin-bottom: 2em;
}

.rounded-image img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

.subtitle{
    margin-top: 2em;
}

.summary{
padding-left: 40px;
}

.summary li{
    margin-top: 1em;
}

.contact-details hr {
    border: none;
    border-top: 1px solid #22333b;
    margin: 2em 0;
}

.contact-details h3{
    margin-bottom: .5em;
}

.contact-details p{
    margin: 0;
}