*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.red{
    color: red;
}

ul li{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: black solid 0px; 
    box-sizing: content-box;
    border-spacing: 0px;
}

td {
    border-top: black solid 1px;
    border-left:black solid 1px;
    padding: 1px;
}

.lastcol{
    border-right: black solid 1px;
}

.lastrow{
    border-bottom: black solid 1px;
}