:root {
    --nav-ctrl-color: #000;
    --nav-ctrl-size: 1.25em;
    --nav-ctrl-inner-size: 1rem;
}



.banner-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    padding: 30%;
}


.banner-nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.hidden {
    display: none;
}

.nav-dot {
    align-items: center;
    border-color: var(--nav-ctrl-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
    height: var(--nav-ctrl-size);
    display: flex;
    justify-content: center;
    margin: 0 .25rem;
    width: var(--nav-ctrl-size);
}

.nav-dot-inner {
    height: var(--nav-ctrl-inner-size);
    width: var(--nav-ctrl-inner-size);
}

.nav-dot-inner {
    background-color: var(--nav-ctrl-color);
    border-radius: 100%;
    display: block;
    height: 0;
    opacity: 0;
    transition: all .2s ease;
    width: 0;
}

.nav-dot:hover .nav-dot-inner {
    height: var(--nav-ctrl-inner-size);
    opacity: .5;
    width: var(--nav-ctrl-inner-size);
}

#bnr-1-ctrl:checked ~ .banner-nav #bnr-1-dot .nav-dot-inner,
#bnr-2-ctrl:checked ~ .banner-nav #bnr-1-dot .nav-dot-inner,
#bnr-3-ctrl:checked ~ .banner-nav #bnr-1-dot .nav-dot-inner{
    height: var(--nav-ctrl-inner-size);
    opacity: 1;
    width: var(--nav-ctrl-inner-size);
}

#bnr-1-ctrl:checked ~ .banner-content #banner-1,
#bnr-2-ctrl:checked ~ .banner-content #banner-2,
#bnr-3-ctrl:checked ~ .banner-content #banner-3 {
    display: block;
}