a {
    color: #266;
    text-decoration: none;
}




a:hover {
    color: #4fb286;
}

body {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}



.button {
    background-color: #2f8c62;
    color: #fff;
    border: none;
    border-radius: .25em;
    padding: .5em .75em;
}

.button:hover{
    background-color: #4fb286;
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #22333b;
    padding: .5em;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar-nav li {
    padding: .5em;
    margin: 0 0.5em;
}